.page.theme_light {
  --accent-color: #353430;
  --accent-color-hover: #32312D50;
  --title-decor-color: #FF8DCB;
  --header-text-color: #353430;
  --title-color: #FFC2E6;
  --article-text-color: #353430;
  --background-image: url('../images/cover-image-light.png');
}

.header__decoration {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #353430;
    --accent-color-hover: #32312D50;
    --title-decor-color: #FF8DCB;
    --header-text-color: #353430;
    --title-color: #FFC2E6;
    --article-text-color: #353430;
    --background-image: url('../images/cover-image-light.png');
  }
}