.page {
  display: grid;
  justify-content: end;
  padding: 10px;
  background-image: var(--background-image);
  background-attachment: fixed;
  font-family: IBM Plex Mono, sans-serif;
}

.header {
  display: grid;
  position: relative;
  margin-block-end: 40px;
  min-block-size: 658px;
}

.header::before, .footer::before {
  position: absolute;
  justify-self: end;
  align-self: start;
  content: '';
  block-size: 25px;
  inline-size: 25.04px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.header::after, .footer::after {
  position: absolute;
  justify-self: start;
  align-self: end;
  content: '';
  block-size: 25px;
  inline-size: 25.04px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

.header::after {
  bottom: 10px;
}

.header__decoration {
  display: flex;
  position: absolute;
  justify-content: end;
  right: 0;
  min-block-size: 26px;
  min-inline-size: 33px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; 
  color: var(--accent-color);
  margin-inline-end: 28px;
}

.header__decoration::after {
  position: absolute;
  content: '';
  block-size: 9px;
  inline-size: 9px;
  top: 8px;
  right: -20px;
  background-color: var(--accent-color);
  border-radius: 50%;
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  margin-block-start: 65px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  padding: 1.5px 13px;
  color: var(--accent-color);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: lowercase;
  min-inline-size: 70px;
  min-block-size: 26px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color-hover);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
}

.header__title, .footer__title {
  display: flex;
  flex-direction: column;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  text-transform: lowercase;
  margin-block-start: 65px;
  margin-block-end: 55px;
}

.header__text {
  display: flex;
  flex-direction: column;
  color: var(--header-text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  margin-block-end: 66px;
  min-block-size: 117px;
  max-inline-size: 355px;
}

.title-decor {
  background-color: var(--title-decor-color);
}

.main-content {
  display: grid;
  gap: 50px;
}

.content__block, .content__block-row {
  display: grid;
  gap: 20px;
}

.content__block-title, .content__block-title-bold {
  color: var(--accent-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.content__block-article {
  display: grid;
  gap: 10px;
}

.content__block-article-title {
  color: var(--title-text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.articles {
  display: grid;
  gap: 20px;
}

.content__block-article-text {
  color: var(--article-text-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}

.content__block-article-link {
  position: relative;
  text-shadow: 2px 2px 0 var(--shadow-color);
  text-decoration: none;
}

.content__block-article-link:hover {
  border-bottom: 1px solid var(--article-text-color);
}

.content__block-article-link:focus-visible {
  content: '';
  block-size: 22px;
  inline-size: 97px;
  outline: 1px solid var(--article-text-color);
}

.content__block-title-bold {
  color: var(--title-text-color);
}

.picture-block {
  display: grid;
  gap: 10px;
  margin-block-end: 40px;
}

.picture-block-image {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  position: relative;
  min-block-size: 667px;
  justify-content: center;
  align-content: center;
}

.footer::before {
  top: 10px;
}

.footer::after {
  bottom: 10px;
}

@media (width >= 768px) {
  .page {
    padding: 20px 20px 20px 0;
  }

  .header {
    margin-block-end: 60px;
    min-block-size: 1004px;
  }

  .header::after {
    left: 20px;
    bottom: 20px;
  }
  
  .header__theme-menu-list {
    margin-block-start: 172px;
  }

  .header__title {
    flex-direction: row;
    gap: 72px;
    margin-block-start: 173px;
    margin-block-end: 162px;
  }

  .header__text {
    max-inline-size: 364px;
    justify-self: end;
    margin-block-end: 183px;
  }

  .main-content {
    padding-left: 20px;
    gap: 80px;
  }

  .content__block-row {
    grid-template-columns: 236px auto;
  }

  .content__block-title {
    max-inline-size: 236px;
  }

  .picture-block {
    gap: 20px;
    grid-template-areas:
      "picture-block-title picture-block-title picture-block-title"
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street"
  }

  .picture-block-title {
    grid-area: picture-block-title;
  }
  
  .sunset {
    grid-area: sunset;
  }
  
  .ice-cream {
    grid-area: ice-cream;
  }
  
  .tape {
    grid-area: tape;
  }
  
  .books {
    grid-area: books;
  }
  
  .street {
    grid-area: street;
  }

  .footer {
    min-block-size: 1024px;
    padding: 20px 0 0 20px;
  }

  .footer::before {
    top: 40px;
  }

  .footer::after {
    left: 20px;
    bottom: 0;
  }
}

@media (width >= 1024px) {
  .header {
    min-block-size: 748px;
  }

  .header__top {
    display:flex;
    flex-direction: row-reverse;
    gap: 316px;
  }

  .header__top {
    justify-content: center;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-inline-start: 20px;
  }

  .header__title, .footer__title {
    margin-block-start: 273px;
    margin-block-end: 114px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    gap: 94px;
  }

  .header__text {
    max-inline-size: 491px;
    min-block-size: 71px;
    margin-block-end: 134px;
  }
  
  .content__block-row {
    grid-template-columns: 314.96px auto;
  }

  .content__block-title {
    max-inline-size: 314.96px;
  }
  
  .footer {
    min-block-size: 768px;
  }

  .footer__title {
    margin-block-start: 135px;
  }

  .content__block .articles {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
}
